.page-header
  = link_to new_run_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Run
  %h1 
    = @desc.present? ? @desc[:head] : 'Listing Runs'
  - if @desc && @desc[:filter].present?
    %p.lead.help-block
      %em= @desc[:filter] 


:css
  .form-control-inline {width:auto;display:inline-block;}
= form_tag '', :method => :get, class: "form-horizontal", role: "form", style: 'margin-left: 20px;' do
  .form-group.form-control-inline
    %input{name: 'from', class: 'form-control form-control-inline', placeholder: 'Filter runs from this date', value: params[:from]}
    %input{name: 'to', class: 'form-control form-control-inline', placeholder: 'Filter runs to this date', value: params[:to]}
  = submit_tag 'Filter', class: 'btn btn-primary form-control-inline', style: 'margin-left: 20px;'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Date
        %th Duration (Mins)
        %th Distance (M)
        %th Avg Speed (Km/H)
        %th User
        %th
        %th
        %th

    %tbody
      - @runs.each do |run|
        %tr
          %td= run.date
          %td= run.duration_minutes
          %td= run.distance
          %td= run.avg_speed
          %td= run.user.name
          %td= link_to 'Show', run
          %td= link_to 'Edit', edit_run_path(run)
          %td= link_to 'Destroy', run, data: { confirm: 'Are you sure?' }, method: :delete
