.page-header
  = link_to new_run_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Run
  %h1 Listing runs

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Date
        %th Duration
        %th Distance
        %th Avg speed
        %th User
        %th
        %th
        %th

    %tbody
      - @runs.each do |run|
        %tr
          %td= run.date
          %td= run.duration
          %td= run.distance
          %td= run.avg_speed
          %td= run.user.name
          %td= link_to 'Show', run
          %td= link_to 'Edit', edit_run_path(run)
          %td= link_to 'Destroy', run, data: { confirm: 'Are you sure?' }, method: :delete
